@inherits LayoutComponentBase

<FrameworkLayout Class="wiki-layout"
                 ContentsMinHeadings="@WikiOptions.MinimumTableOfContentsHeadings"
                 ContentsMaxLevelOffset="@(WikiOptions.DefaultTableOfContentsDepth - 1)"
                 InteractiveRenderMode="InteractiveWebAssembly">
    <FrameworkContent>
        @if (WikiBlazorClientOptions.AppBar is not null)
        {
            @AppBarRender
        }
        else
        {
            <div class="appbar d-print-none">
                <DrawerToggle ShowAtBreakpoint="Breakpoint.Lg" Side="Side.Left" />
                <tf-darkmode-toggle class="ms-auto" />
            </div>
        }
        <WikiLeftDrawer />
    </FrameworkContent>
    <ChildContent>
        @Body
    </ChildContent>
</FrameworkLayout>
