@layer tavenem-framework, tavenem-wiki;
@layer tavenem-wiki.wiki {
    :root {
        --tavenem-wiki-link-color-missing: var(--tavenem-color-danger);
        --tavenem-wiki-link-color-missing-hover: var(--tavenem-color-danger-darken);
        --tavenem-wiki-link-color-missing-domain: var(--tavenem-color-danger-darken);
        --tavenem-wiki-link-color-missing-domain-hover: var(--tavenem-color-danger-darken-2);
        --tavenem-wiki-link-color-missing-namespace: var(--tavenem-color-danger-darken);
        --tavenem-wiki-link-color-missing-namespace-hover: var(--tavenem-color-danger-darken-2);
        --tavenem-wiki-link-color-missing-visited: var(--tavenem-color-danger-lighten);
        --tavenem-wiki-link-color-missing-visited-domain: var(--tavenem-color-danger);
        --tavenem-wiki-link-color-missing-visited-namespace: var(--tavenem-color-danger);
        --tavenem-wiki-link-color-domain: var(--tavenem-color-link-hover);
        --tavenem-wiki-link-color-namespace: var(--tavenem-color-link-hover);
        --tavenem-wiki-link-dark-color-domain-hover: #096afb;
        --tavenem-wiki-link-dark-color-namespace-hover: #096afb;
        --tavenem-wiki-link-dark-color-visited: #a0c5fe;
        --tavenem-wiki-link-light-color-domain-hover: #002760;
        --tavenem-wiki-link-light-color-namespace-hover: #002760;
        --tavenem-wiki-link-light-color-visited: #0264f7;
        --tavenem-wiki-link-color-domain-hover: var(--tavenem-wiki-link-light-color-domain-hover);
        --tavenem-wiki-link-color-namespace-hover: var(--tavenem-wiki-link-light-color-namespace-hover);
        --tavenem-wiki-link-color-visited: var(--tavenem-wiki-link-light-color-visited);
        --tavenem-wiki-link-color-visited-domain: var(--tavenem-color-link);
        --tavenem-wiki-link-color-visited-namespace: var(--tavenem-color-link);
    }

    [data-theme="dark"] {
        --tavenem-wiki-link-color-domain-hover: var(--tavenem-wiki-link-dark-color-domain-hover);
        --tavenem-wiki-link-color-namespace-hover: var(--tavenem-wiki-link-dark-color-namespace-hover);
        --tavenem-wiki-link-color-visited: var(--tavenem-wiki-link-dark-color-visited);
    }

    a {
        &.wiki-link-missing {
            color: var(--tavenem-wiki-link-color-missing);
        }

        &:hover {
            &.wiki-link-missing {
                color: var(--tavenem-wiki-link-color-missing-hover);

                .wiki-link-domain {
                    color: var(--tavenem-wiki-link-color-missing-domain-hover);
                }

                .wiki-link-namespace {
                    color: var(--tavenem-wiki-link-color-missing-namespace-hover);
                }
            }

            .wiki-link-domain {
                color: var(--tavenem-wiki-link-color-domain-hover);
            }

            .wiki-link-namespace {
                color: var(--tavenem-wiki-link-color-namespace-hover);
            }
        }

        &:visited {
            color: var(--tavenem-wiki-link-color-visited);

            &.wiki-link-missing {
                color: var(--tavenem-wiki-link-color-missing-visited);

                .wiki-link-domain {
                    color: var(--tavenem-wiki-link-color-missing-visited-domain);
                }

                .wiki-link-namespace {
                    color: var(--tavenem-wiki-link-color-missing-visited-namespace);
                }
            }

            .wiki-link-domain {
                color: var(--tavenem-wiki-link-color-visited-domain);
            }

            .wiki-link-namespace {
                color: var(--tavenem-wiki-link-color-visited-namespace);
            }
        }

        &:hover:visited {
            &.wiki-link-missing {
                color: var(--tavenem-wiki-link-color-missing);

                .wiki-link-domain {
                    color: var(--tavenem-wiki-link-color-missing-hover);
                }

                .wiki-link-namespace {
                    color: var(--tavenem-wiki-link-color-missing-hover);
                }
            }

            .wiki-link-domain {
                color: var(--tavenem-wiki-link-color-missing-hover);
            }

            .wiki-link-namespace {
                color: var(--tavenem-wiki-link-color-missing-hover);
            }
        }

        .wiki-link-domain {
            color: var(--tavenem-wiki-link-color-domain);
            
            &:after {
                content: ":";
            }

            .wiki-link-missing & {
                color: var(--tavenem-wiki-link-color-missing-domain);
            }
        }

        .wiki-link-namespace {
            color: var(--tavenem-wiki-link-color-namespace);
            
            &:after {
                content: ":";
            }

            .wiki-link-missing & {
                color: var(--tavenem-wiki-link-color-missing-namespace);
            }
        }

        .wiki-link-System.wiki-link-missing {
            color: var(--tavenem-color-link);
        }
    }

    .wiki-layout > .container {
        padding-bottom: 0;
    }
    .wiki-layout-compact > .container {
        margin-top: 0!important;
        padding: 0;
    }

    .toc {
        display: none!important;
    }

    .wiki {
        background-color: var(--tavenem-color-bg-alt);
        background-image: linear-gradient(to bottom, var(--tavenem-color-bg) 0, transparent 2.5em);
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 0;
        position: relative;
        width: 100%;

        h1,h2,h3,h4,h5,h6 {
            border-bottom: 1px solid var(--tavenem-color-border);
            clear: both;
            padding-bottom: .125em;
        }

        .emoji {
            font-family: 'Segoe UI Emoji', 'Segoe UI Symbol', 'Segoe UI', 'Apple Color Emoji', 'Twemoji Mozilla', 'Noto Color Emoji', 'EmojiOne Color', 'Android Emoji';
        }

        .wiki-header nav {
            display: flex;

            ul {
                display: flex;
                margin: 0;
                padding: 0;

                li {
                    border-bottom-width: 1px;
                    border-image: linear-gradient(transparent 0px, var(--tavenem-color-border) 100%) 1 stretch;
                    border-left-width: 1px;
                    border-right-width: 0;
                    border-style: solid;
                    border-top-width: 0;
                    font-size: var(--tavenem-font-size-sm);
                    margin: 0;
                    padding: 0;
                    white-space: nowrap;

                    &.is-active {
                        background-color: var(--tavenem-color-bg);
                        border-bottom-width: 0;

                        a {
                            color: inherit;
                        }
                    }

                    &:last-child {
                        border-right-width: 1px;
                    }

                    * {
                        display: inline-block;
                        padding-bottom: 7px;
                        padding-left: .5rem;
                        padding-right: .5rem;
                        padding-top: 1.25rem;
                    }
                }
            }

            .field {
                margin-bottom: 0;

                .input {
                    margin-top: 0;
                    padding-top: 7px;

                    .input-core {
                        padding-inline-start: .5rem;
                    }

                    tf-icon {
                        margin-top: 0;
                    }
                }
            }
        }

        .wiki-content {
            background-color: var(--tavenem-color-bg);
            border-bottom: 1px solid var(--tavenem-color-border);
            border-left: 1px solid var(--tavenem-color-border);
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding: 1em;
        }

        #wiki-main-heading {
            display: inline-flex;
            flex-grow: 1;
            font-size: 1.8em;
            gap: .25em;
            line-height: 1.3;
            margin-bottom: 0.25em;

            a {
                display: inline-flex;
                gap: .25em;
            }

            .wiki-main-heading-domain-separator:after {
                content: ':';
            }

            .wiki-main-heading-namespace-separator:after {
                content: ':';
            }
        }

        .wiki-body {
            align-items: start;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            font-size: var(--tavenem-font-size-sm);
            line-height: 1.6;
        }

        &.preview .wiki-body {
            padding-top: 1em;
        }

        .wiki-site-subtitle {
            font-size: .92em;
            margin-bottom: 1.4em;
        }

        .wiki-parser-output {
            align-self: stretch;
            flex-grow: 1;

            img,
            figure {
                float: right;
                margin-bottom: 1em;
                margin-left: 1em;
                margin-top: 1em;
                max-width: 40%;
            
                &:nth-child(2n) {
                    float: left;
                    margin-left: 0;
                    margin-right: 1em;
                }

                &.hero {
                    float: none;
                    margin-left: 0;
                    margin-right: 0;
                    max-width: 100%;
                }
            }
        }

        .diff-deleted {
            color: var(--tavenem-color-danger);
            text-decoration: line-through var(--tavenem-color-danger);
        }

        .diff-inserted {
            color: var(--tavenem-color-success);
        }

        .toc {
            background-color: var(--tavenem-color-bg-alt);
            border: 1px solid var(--tavenem-color-border);
            display: table;
            float: left;
            font-size: 95%;
            margin-bottom: 1.5em;
            margin-right: 1em;
            padding: .5rem;
        
            .toc-title {
                text-align: center;
                font-family: sans-serif;
                font-size: 100%;
            }

            ul {
                list-style-type: none;
                list-style-image: none;
                margin-left: 0;
                padding: 0;

                li {
                    margin-bottom: 0.1em;
                }

                ul {
                    margin-left: 2em;
                }
            }

            .toc-number {
                color: var(--tavenem-color-text);
                display: table-cell;
                padding-right: 0.5em;
            }

            .toc-heading {
                display: table-cell;
            }
        }

        .wiki-category-list-section {
            border: 1px solid var(--tavenem-color-border);
            margin-top: 1em;
            padding: 5px;

            li {
                border-left: 1px solid var(--tavenem-color-border);
                line-height: 1.25em;
                margin: 2px 0;

                &:first-child {
                    border-left: none;
                }
            }
        }

        .wiki-category-list-category-link:after {
            content: ':';
        }

        .wiki-footer {
            font-size: var(--tavenem-font-size-sm);
            line-height: 1.4;
            padding: .75rem;

            > div:first-child li {
                padding: .5em 0;
            }

            > div:last-child {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;

                > span {
                    padding: .5em 0;
                }
            }
        }
    }

    @media screen and (min-width: 992px) {
        .wiki .wiki-content {
            padding: 1.25em 1.5em 1.5em 1.5em;
        }
    }

    .wiki-layout-compact .wiki .wiki-content {
        border-bottom: none;
        border-left: none;
    }

    @media print {
        .wiki .wiki-content {
            border-left: none;
        }
    }

    @media screen and (min-width: 992px) {
        .wiki .wiki-footer {
            padding: 1.25rem;
        }
    }
}