<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tavenem Wiki Blazor Example</title>
    <base href="/" />
    <link href="_content/Tavenem.Blazor.Framework/framework.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="Tavenem.Wiki.Blazor.Example.styles.css" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
