<button class="btn primary my-3" @onclick=@(_ => _value++)>Counter: <span>@_value.ToString("N0")</span></button>

@code {
    [Parameter] public Page? Article { get; set; }
    [Parameter] public bool CanEdit { get; set; }
    [Parameter] public IWikiUser? User { get; set; }
    private int _value;
}
