<div class="wiki-site-subtitle">From @WikiOptions.SiteName</div>
@if (!IsDiff && FrontMatterType is not null)
{
    <DynamicComponent Type="FrontMatterType" Parameters="FrontEndMatterParameters" />
}
<tf-syntax-highlight class="wiki-parser-output">@Content</tf-syntax-highlight>
@if (!IsDiff && EndMatterType is not null)
{
    <DynamicComponent Type="EndMatterType" Parameters="FrontEndMatterParameters" />
}

