<SyntaxHighlighter Class="wiki-talk-messages">
    <ul>
        @foreach (var message in TalkMessages)
        {
            <TalkMessage CanPost="CanTalk && CanPost"
                         Message="message"
                         Post="OnPostAsync"
                         TimezoneOffset="TimezoneOffset"
                         TopicId="@TopicId" />
        }
    </ul>
    @if (TalkMessages.Count == 0)
    {
        <div class="wiki-talk-nomessages"><p>No messages yet</p></div>
    }
</SyntaxHighlighter>
@if (CanPost)
{
    <TalkCompose TopicId="@TopicId" Post="OnPostAsync" />
}
else if (CanTalk)
{
    <div class="wiki-talk-signin-prompt">Sign in to post your own messages</div>
}
