@using Tavenem.Blazor.Framework.Utilities

<tf-syntax-highlight class="wiki-talk-messages">
    <ul>
        @foreach (var message in TalkMessages)
        {
            <TalkMessage Message="message" TopicId="@TopicId" />
        }
    </ul>
    @if (TalkMessages.Count == 0)
    {
        <div class="wiki-talk-nomessages"><p>No messages yet</p></div>
    }
</tf-syntax-highlight>
@if (CanPost)
{
    <form method="post" action="@($"{WikiBlazorClientOptions.WikiServerApiRoute}/talk")" @formname="wiki-talk-post" data-enhance>
        <AntiforgeryToken />
        <input type="hidden" name="topic" value="@TopicId" />
        <tf-chat-editor data-api-key="@WikiBlazorClientOptions.TenorAPIKey"
                        name="content"></tf-chat-editor>
    </form>
}
else if (CanTalk)
{
    <div class="wiki-talk-signin-prompt">Sign in to post your own messages</div>
}
