.wiki {
    background-color: var(--tavenem-color-bg-alt);
    background-image: linear-gradient(to bottom, var(--tavenem-color-bg) 0, transparent 2.5em);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    position: relative;
    width: 100%;
}

::deep h1,
::deep h2,
::deep h3,
::deep h4,
::deep h5,
::deep h6 {
    border-bottom: 1px solid var(--tavenem-color-border);
    clear: both;
    padding-bottom: .125em;
}

::deep .emoji {
    font-family: 'Segoe UI Emoji', 'Segoe UI Symbol', 'Segoe UI', 'Apple Color Emoji', 'Twemoji Mozilla', 'Noto Color Emoji', 'EmojiOne Color', 'Android Emoji';
}

.wiki-header nav {
    display: flex;
}

    .wiki-header nav ul {
        display: flex;
        margin: 0;
        padding: 0;
    }

        .wiki-header nav ul li {
            border-bottom-width: 1px;
            border-image: linear-gradient(transparent 0px, var(--tavenem-color-border) 100%) 1 stretch;
            border-left-width: 1px;
            border-right-width: 0;
            border-style: solid;
            border-top-width: 0;
            font-size: var(--tavenem-font-size-sm);
            margin: 0;
            padding: 0;
            white-space: nowrap;
        }

            .wiki-header nav ul li.is-active {
                background-color: var(--tavenem-color-bg);
                border-bottom-width: 0;
            }

                .wiki-header nav ul li.is-active a {
                    color: inherit;
                }

            .wiki-header nav ul li:last-child {
                border-right-width: 1px;
            }

            .wiki-header nav ul li * {
                display: inline-block;
                padding-bottom: 7px;
                padding-left: .5rem;
                padding-right: .5rem;
                padding-top: 1.25rem;
            }

::deep .wiki-header nav .field {
    margin-bottom: 0;
}

::deep .wiki-header nav .field .input {
    margin-top: 0;
    padding-top: 7px;
}

    ::deep .wiki-header nav .field .input .input-core {
        padding-inline-start: .5rem;
    }

    ::deep .wiki-header nav .field .input tf-icon {
        margin-top: 0;
    }

.wiki-content {
    background-color: var(--tavenem-color-bg);
    border-bottom: 1px solid var(--tavenem-color-border);
    border-left: 1px solid var(--tavenem-color-border);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1em;
}

@media screen and (min-width: 992px) {
    .wiki-content {
        padding: 1.25em 1.5em 1.5em 1.5em;
    }
}

.wiki-layout-compact .wiki-content {
    border-bottom: none;
    border-left: none;
}
@media print {
    .wiki-content {
        border-left: none;
    }
}

.wiki-main-heading {
    display: inline-flex;
    flex-grow: 1;
    font-size: 1.8em;
    gap: .25em;
    line-height: 1.3;
    margin-bottom: 0.25em;
}
    .wiki-main-heading a {
        display: inline-flex;
        gap: .25em;
    }

.wiki-main-heading-domain-separator:after {
    content: ':';
}

.wiki-main-heading-namespace-separator:after {
    content: ':';
}

.wiki-body {
    align-items: start;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: var(--tavenem-font-size-sm);
    line-height: 1.6;
}

.preview .wiki-body {
    padding-top: 1em;
}

::deep .wiki-site-subtitle {
    font-size: .92em;
    margin-bottom: 1.4em;
}

::deep .wiki-parser-output {
    align-self: stretch;
    flex-grow: 1;
}

    ::deep .wiki-parser-output img,
    ::deep .wiki-parser-output figure {
        float: right;
        margin: 1em;
    }

::deep .diff-deleted {
    color: var(--tavenem-color-danger);
    text-decoration: line-through var(--tavenem-color-danger);
}

::deep .diff-inserted {
    color: var(--tavenem-color-success);
}

::deep .toc {
    background-color: var(--tavenem-color-bg-alt);
    border: 1px solid var(--tavenem-color-border);
    display: table;
    float: left;
    font-size: 95%;
    margin-bottom: 1.5em;
    margin-right: 1em;
    padding: .5rem;
}
    ::deep .toc .toc-title {
        text-align: center;
        font-family: sans-serif;
        font-size: 100%;
    }

    ::deep .toc ul {
        list-style-type: none;
        list-style-image: none;
        margin-left: 0;
        padding: 0;
    }

    ::deep .toc ul li {
        margin-bottom: 0.1em;
    }

    ::deep .toc ul ul {
        margin-left: 2em;
    }

    ::deep .toc .toc-number {
        color: var(--tavenem-color-text);
        display: table-cell;
        padding-right: 0.5em;
    }

    ::deep .toc .toc-heading {
        display: table-cell;
    }

.wiki-category-list-section {
    border: 1px solid var(--tavenem-color-border);
    margin-top: 1em;
    padding: 5px;
}

    .wiki-category-list-section li {
        border-left: 1px solid var(--tavenem-color-border);
        line-height: 1.25em;
        margin: 2px 0;
    }

        .wiki-category-list-section li:first-child {
            border-left: none;
        }

.wiki-category-list-category-link:after {
    content: ':';
}

.wiki-footer {
    font-size: var(--tavenem-font-size-sm);
    line-height: 1.4;
    padding: .75rem;
}

@media screen and (min-width: 992px) {
    .wiki-footer {
        padding: 1.25rem;
    }
}

.wiki-footer > div:first-child li {
    padding: .5em 0;
}

.wiki-footer > div:last-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

    .wiki-footer > div:last-child > span {
        padding: .5em 0;
    }
